{{!-- /* ** Add the following to main.hbs *** */ --}}
<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
  <header>
    <h1>Assignment 2</h1>
    <p>Abhisha Mathew | Student ID: N01635183</p>
  </header>
  
  <main>
    {{{body}}} <!-- Content from specific templates will be injected here -->
  </main>
  
  <footer>
    <p>Contact: abhishamathew@example.com</p>
  </footer>
</body>
</html>